@{
    ViewData["Title"] = "Meklt preces";
}
<h2>Meklt preces pc nosaukuma</h2>

<form method="post" asp-action="SearchItems">
    <div class="mb-3">
        <input type="text" name="nameFragment" class="form-control" placeholder="Ievadi fragmentu..." />
    </div>
    <button type="submit" class="btn btn-primary">Meklt</button>
</form>
