<h2>Meklēt kategorijas pēc nosaukuma</h2>

<form method="post" asp-action="SearchCategories">
    <div class="mb-3">
        <input type="text" name="nameFragment" class="form-control" placeholder="Ievadi fragmentu..." />
    </div>
    <button type="submit" class="btn btn-primary">Meklēt</button>
</form>
