@model IEnumerable<PraktiskaisDarbs3.Models.Item>
@{
    var q = ViewBag.Query as string;
}
<h2>Meklēšanas rezultāti: '@q'</h2>

<table class="table">
<thead><tr><th>ID</th><th>Nosaukums</th><th>Daudzums</th><th>Kategorija</th></tr></thead>
<tbody>
@foreach(var it in Model)
{
    <tr>
        <td>@it.Id</td>
        <td>@it.Name</td>
        <td>@it.Quantity</td>
        <td>@it.Category?.Name</td>
    </tr>
}
</tbody>
</table>
